*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(247, 247, 247);
}
.container{
    display: flex;
}
/**NAV AREA**/
nav{
    position: fixed;
    padding-left: 25px;
    border-right: 1px solid #b7b7b7;
    width: 19%;
    height: 100vh;
    background-color: #fff;
}

.flexdirection > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    color: black;
    text-decoration: none;
    margin-bottom: 40px;
    font-size: 18px;
}

.flexdirection > a:hover{
    background-color: #ebe5e5;
    border-radius: 10px;
    padding: 10px 0px;
    margin-right: 32px;
}

.icons{
    font-size: 20px;
}

.logo{
    height: 29px;
    width: 103px;
    margin: 30px 0px;
}
.profile p{
    margin-left: 5px;
}

.profile_img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.more{
    margin-top: 100px;
    margin-right: 5px;
}



/**MIDDLE PART**/

/**STORIES PART**/
.middle_stories{
    width: 40%;
    background-color: rgb(247, 247, 247);
    margin-left: 24rem;
    margin-top: 2rem;
}

.middlesection{
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
   /**margin-left: 100px;
    margin-top: 20px;**/
}
.userstories{
    margin: 15px 0;
}

.user-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center
}

.user-img{
    background-image: url('../image/instagram-story.png' );
    background-size: cover;
    background-position: center;
    padding: 7px;
}

.user-info .username{
     font-size: 0.8rem;
     margin-left: 0.6rem;
}

/**POSTS PART**/
.content{
    margin-top: 1.5rem;
    width: 100%;
}

.post-2{
    margin-top: 20px;
    border: solid 1px #ccc;
    background-color: #fff;
    border-radius: 2%;
}

.head{
    display: flex;
    align-items: center;
}
.prof-pic img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prof-pic{
    background-image: url('../image/instagram-story.png' );
    background-size: cover;
    background-position: center;
    padding: 6px;
    margin: 8px;
}

p.name{
    font-weight: bold;
    font-family: var(--font-family-system);
}

.options{
    margin-left: 25rem;
    width: 15px;
}

.options-1{
    margin-left: 22rem;
    width: 15px;
}

.picture img{
    width: 100%;
}


.icons{
    margin-left: 2px;
}

.icons :nth-of-type(1){
    width: 27px;
}

.icons :nth-of-type(2){
    width: 20px;
    margin-bottom: 2px;
}

.icons :nth-of-type(3){
    width: 27px;
}

.icons :nth-of-type(4){
    width: 22px;
    margin-left: 23rem;
}

.icons img{
    margin-left: 8px;
    margin-top: 5px;
}

.likes-img-txt{
    display: flex;
    align-items: center;
}

.likes{
    text-align: left;
    margin-top: 5px;
    margin-left: 20px;
}

.likes img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid 1px #fff;
    margin-left: -8px
}

.like-text{
    margin-left: 0.4rem;
    font-size: 14px;
}

.caption{
    padding: 4px;
}

.caption .u_name{
    font-weight: bold;
    margin-left: 9px;
    padding-right: 4px;
}

.caption-1{
    margin-top: -5px;
}
.caption-1 .u_name{
    margin-left: 17px;
}

.caption-1 img{
    width: 20px;
}

.v-comment{
    color: rgb(117, 115, 115);
    font-size: 14px;
    margin-left: 0.5rem;
    padding: 5px;
}

.like-date{
    color: rgb(117, 115, 115);
    padding: 10px;
    margin-left: 0.3rem;
    font-size: 10px;
}

.comm-end{
    display: flex;
    align-items: center;
    padding: 10px;
}

.u-comment{
    color: rgb(117, 115, 115);
    font-size: 14px;
    margin-left: 5px;
}

.post{
    color: rgb(144, 169, 238);
    margin-left: 22rem;
}
/**SUGGESTIONS**/
.suggestions{
    width: 30%;
    margin-left: 25px;
    margin-top: 4rem;
}


.myprofile{
    display: flex;
    align-items: center;
}

.my-info{
    margin-left: 0.8rem;
}

.myusername{
    font-weight: bold;
}

.myuserhandle{
    color: rgb(117, 115, 115);
    font-size: 0.8rem;
}

.follow-btn{
    color: rgb(0, 119, 255);
    margin-left: 8.5rem;
    border: none;
    font-size: 0.7rem;
}

.sgtn{
    display: flex;
    margin: 9px 4px;
}
.sgtn p{
    color: rgb(117, 115, 115);
    font-size: 1rem;
}

.sgtn .btn{
    margin-left: 9.5rem;
    border: none;
    font-weight: bold;
}

.profiles{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.sgtd-img img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.sgtd-info{
    margin-left: 0.8rem;
}

.u-name{
   font-weight: 540;
   font-size: 1rem;
}

.u-handle{
    color: rgb(117, 115, 115);
    font-size: 0.8rem;
}

.follow-btn-1{
    color: rgb(0, 119, 255);
    margin-left: 9.5rem;
    border: none;
    font-size: 0.7rem;
    
}

.follow-btn-2{
    color: rgb(0, 119, 255);
    margin-left: 5.5rem;
    border: none;
    font-size: 0.7rem;
    
}

.follow-btn-3{
    color: rgb(0, 119, 255);
    margin-left: 2.8rem;
    border: none;
    font-size: 0.7rem;
    
}

.follow-btn-4{
    color: rgb(0, 119, 255);
    margin-left: 8.5rem;
    border: none;
    font-size: 0.7rem;
    
}

/**FOOTER**/
.footer{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 350px;
}

.footer a{
    text-decoration: none;
    color: rgb(117, 115, 115);
}

.footer span, .copyright span{
    font-size: 12px;
    font-weight: 400;
    margin-left: 1px;
}
.fa-circle{
    font-size: 2px;
    vertical-align: middle;
    margin-left: 1px;
}

.copyright{
    color: rgb(117, 115, 115);
}